.area-topo-image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.area-topo-image img {
  width: 100%;
  height: auto;
  display: block;
}

.area-topo-image--canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
